%h2
  Clientes Ativos:
  =@clients.active.count
%h2
  Clientes Inativos:
  =@clients.inactive.count
%h2
  Total parado em conta:
  #{number_to_currency(@clients.total_unused.sum(&:amount_unused))}
%h2
  Total do Escritório:
  #{number_to_currency(@clients.total_invested.sum(&:amount_invested))}
%h1= link_to "Lista de Clientes", clients_path
%h1= link_to "Configurações", settings_path
%h1 Envios Automáticos